<html>
<body>
<div class="accordion accordion-flush" id="main">
  <!-- Don't touch below and inside. -->
  <div class="accordion-item bg-dark text-light rounded-4 border-dark">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button text-light rounded-4 collapsed" style="background: black;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Muhammad aka
        <span class="time-passed">13m ago</span>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse rounded-4 collapse" aria-labelledby="flush-headingOne" data-bs-parent="#main">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
        
<div class="accordion-item bg-dark text-light rounded-4 border-dark">
  <h2 class="accordion-header" id="i72">
    <button class="accordion-button collapsed text-light rounded-4" style="background: black;" type="button" data-bs-toggle="collapse" data-bs-target="body72" aria-expanded="false" aria-controls="body72">
      Shoxrux Sunnatov
      <span class="time-passed">1m ago</span>
    </button>
  </h2>
  <div id="body72" class="accordion-collapse collapse rounded-4" aria-labelledby="i72" data-bs-parent="#main">
    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
  </div>
</div>

</div>
</body>
</html>